body {
  background-color: cadetblue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 580px) {
  .footer-text{
    display: none;
  }
  .bottom-nav{
    display: flex !important;
    justify-content: space-around;
    height: 70px;
    background-color: #6c757d;
    padding-top: 10px;

  }
  .side-bar{
    display: none !important;
  }

  .howto{
    height: 350px !important;
    font-size: 15px !important;
    margin-top: -50px !important;
  }

  .easy{
    height: 45px !important;
    width: 45px !important;

}

.medium{
    height: 30px !important;
    width: 30px !important;

}

.hard{
    height: 21px !important;
    width: 21px !important;
}

}